@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
    position: relative;
    font-family: Roboto, Arial, Tahoma, sans-serif;
    font-size: 13px;
    padding-bottom: 50px;
    min-height: 100%;
    margin: 0;
   
}

.loginpage {
    background: url("../img/bicycle-bg-small.jpg") no-repeat center center fixed;
    background-size: cover;
}


@media only screen and (min-width: 768px) {
    .loginpage {
        background: url("../img/bicycle-bg.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

button {
    width: 100%;
    background-color: #4B73A3;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    button {
        width: auto;
    }
}

button:hover {
    opacity: 0.8;
}

.content {
    max-width: 800px;
    margin: auto;
}

.content-single {
    max-width: 500px;
    margin: 50px auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
 /*  border: 1px solid red;*/
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.topheader {
   background-color: #353541;
   color: #edebea;
}

.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: inherit;
}

.topnav li {
   float: none;
}

.topnav li img {
    padding-top: 5px;  
    padding-right: 5px;
}

.topnav li a {
    display: block;
    color: #edebea;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;    
}

.topnav li a:hover:not(.active):not(.logo) {
    background-color: #272226 ;
} 

.topnav li a.active {
    background-color: #746957;
} 

.topnav li a.logo {
    display: inline;
} 

.topnav li:first-child {
    display: none;
}

.topnav li h1 {
    font-size: 20px;
} 


@media screen and (min-width: 768px) {
    .topnav li h1 {
        margin-top: 20px;
    }
}


.loginbtn {
    padding: 10px 10px;    
}

@media screen and (min-width: 768px) {
    .loginbtn {
        margin-top: 20px;
    }

}

@media screen and (min-width: 768px) {
    .topnav li {
        float: left;
    }

    .topnav li.right {
        float: right;
    }

    .topnav li:first-child {
        display: block;
    }

    .topnav li a {
        padding: 32px 16px;    
    }
}

main {
    position: relative;
}

.footer {
    min-height: 50px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #353541;
    color: #edebea;
    text-align: center;

}

.grey {
    background-color:#f1f1f1
}

input[type=text], input[type=password], input[type=number], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=date], input[type=time] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
}

@media screen and (min-width: 768px) { 
    input[type=date], input[type=time] {
        width: auto;
    }
}

.cancelbtn {
    background-color: #A55C55;
}

@media screen and (min-width: 768px) { 
    .cancelbtn {
        margin-left: 20px;
    }
}

.container {
    padding: 16px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    color: #353541;
    font-weight: bold;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px #4B73A3 solid;
    background-color: #ddd;
}

@media screen and (min-width: 768px) {
    .tab button.left {
        float: left;
        width: 50%;
    }

    .tab button.right {
        float: right;
        width: 50%;
    }
}   

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: inherit;
    border-bottom: none;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

.center {
    text-align: center;
}

.locale {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.locale select {
    padding: 5px;
    width: 100%;
    margin: 0;
}

.locale select:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .locale {
        margin-top: 20px;
        width: auto;
    }
}   

.p-t-15 {
    padding-top: 15px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4B73A3;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #c4c0c0;}

.bike {
    text-align: center;
}

.bike img {
    width: 100%;
}

.bike button {
    background-color: #353541;
    padding: 10px;
    border-radius: 10px;
}

.filter {
    border: 1px solid #ccc;
}

.alert {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 

}

.alert-content {
    margin: 15% auto 15% auto; 
    width: 50%;
    overflow: auto; 
    padding: 20px;
    border: 1px #A55C55 solid;
    background: #edcac7;   
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.wrong {
    border: 1px #A55C55 solid;
    background: #edcac7;
}

.correct {
    border: 1px #415740 solid;
    background: #a9cea7;    
}

.info {
    border: 1px #4b73a3 solid;
    background: #adcbed;    
}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #A55C55;
}